---
title: Blog
description: Sergio Rus blog.
schema_type: https://schema.org/Blog
---

<h2>Latest posts</h2>

<ul class="posts-listing">
  {% for post in paginator.posts %}
    <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
      <a href="{{ post.url }}" itemprop="url">{{ post.title }}</a> <time class="date" datetime="{{ post.date | date: '%F' }}" itemprop="datePublished">{{ post.date | date_to_string }}</time>
    </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | replace: 'index.html', '' }}" class="previous-page">Newer posts</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next-page">Older posts</a>
  {% endif %}
</div>
